.navbar-collapse{
	background-color: black;
}
.container-fluid{
	padding: 0;
}
.navbar-right li a{
	color: white;
}
.navbar-right li a:hover{
	color: grey;
}
.background{
	background-image: url("images/images/hero_image.jpg");
	background-size: cover;
	color: white;
	height:60vh;
}
.background h1{
	font-size: 40px;
	text-align:center;
	margin: 0;
}
.background p{
	font-size: 20px;
	text-align: center;
}
.btn .btn-default{
	width: 10%;
}
input{
	width: 60%;
}
.btn-default {
	background-color: #F74C3C;
}
h3{
	color: #F74C3C;
}
hr{
	width: 10%;
	padding: 1px 0;
	background-color: #F74C3C;
}

.pics{
	padding-top: 30px;
}

.color{
	background-color: grey; 
}
.logofooter{
	background-color: #F74C3C;
	height: 70vh;
}